@font-face {
  font-family: "beIN Normal";
  src: url("../../assets/fonts/beINNormal.eot");
  src: url("../../assets/fonts/beINNormal.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINNormal.woff2") format("woff2"),
    url("../../assets/fonts/beINNormal.woff") format("woff"),
    url("../../assets/fonts/beINNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "beIN";
  src: url("../../assets/fonts/beINBlack.eot");
  src: url("../../assets/fonts/beINBlack.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINBlack.woff2") format("woff2"),
    url("../../assets/fonts/beINBlack.woff") format("woff"),
    url("../../assets/fonts/beINBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Ara Assaf";
  src: url("../../assets/fonts/AraAssaf-Regular.eot");
  src: url("../../assets/fonts/AraAssaf-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/AraAssaf-Regular.woff2") format("woff2"),
    url("../../assets/fonts/AraAssaf-Regular.woff") format("woff"),
    url("../../assets/fonts/AraAssaf-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --t05-photo-bg-color: #c6c6c6;
  --t05-sec-bg-color: #fff;
  --t05-sec-title-color: #fff;
  --t05-sec-title-bg-color: #878787;
  --t05-sec-logo-bg-color: #38969f;
  --t05-name-color: #107379;
  --t05-bg-color: #f8f8f8;
  --t05-circle: #f2c559;
  --t05-skill-border-color: #c6bf9e;
  --t05-lang-full-deg-color: #14666b;

  --t05-sec-main-content: #0d585d;
  --t05-lang-empty-deg-color: #888;

  --t05-scale-rate: 0.3;
  --t05-p-scale-rate: 0.9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Template Body */
.template05-body {
  background-color: var(--t05-bg-color);
  padding: calc(80px * var(--t05-scale-rate))
    calc(100px * var(--t05-scale-rate)) calc(100px * var(--t05-scale-rate));
  width: calc(2480px * var(--t05-scale-rate));
  min-height: calc(3508px * var(--t05-scale-rate));
  position: relative;
  direction: ltr;
  margin: 0 auto;
}
.template05-body.ar {
  direction: rtl;
}
.template05-body p,
.template05-body.ar p {
  margin-bottom: 0;
  font-family: "beIN Normal";
  line-height: 1.5;
}
.template05-body .bold,
.template05-body .bold p,
.template05-body.ar .bold,
.template05-body.ar .bold p {
  font-family: "beIN";
}

.template05-body.ar p.ar {
  word-spacing: 2px;
}

/* #region - Header Section */
.template05-body .t05-header-sec {
  width: 100%;
  min-height: calc(452px * var(--t05-scale-rate));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(630px * var(--t05-scale-rate))
    calc(909px * var(--t05-scale-rate)) 1fr;
  grid-template-columns:
    calc(630px * var(--t05-scale-rate)) calc(909px * var(--t05-scale-rate))
    1fr;
  -ms-grid-rows: calc(160px * var(--t05-scale-rate)) 1fr;
  grid-template-rows: calc(160px * var(--t05-scale-rate)) 1fr;
  grid-template-areas:
    "photo name name"
    "photo details location";

  margin-bottom: calc(72px * var(--t05-scale-rate));
}

/* header -> photo */
.template05-body .t05-header-sec .t05-photo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-span: 2;
  grid-area: photo;
  width: calc(452px * var(--t05-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template05-body .t05-header-sec .t05-photo .t05-photo-bg {
  background-color: var(--t05-photo-bg-color);
  border-radius: 50%;
  width: calc(452px * var(--t05-scale-rate));
  height: calc(452px * var(--t05-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.template05-body .t05-header-sec .t05-photo img {
  /* width: calc(422px * var(--t05-scale-rate)); */
  /* height: calc(392px * var(--t05-scale-rate)); */
  max-width: 100%;
}

/* header > name */
.template05-body .t05-header-sec .t05-name {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 1;
  margin-bottom: calc(40px * var(--t05-scale-rate));
  overflow: hidden;
  padding: 0 10px;
}
.template05-body .t05-header-sec .t05-name p {
  font-size: calc(40px * var(--t05-p-scale-rate));
  font-family: "Ara Assaf";
  color: var(--t05-name-color);
  line-height: 1.2;
}

/* header -> details */
.template05-body .t05-header-sec .t05-details {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.template05-body .t05-header-sec .t05-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100px * var(--t05-scale-rate)) 1fr;
  grid-template-columns: calc(100px * var(--t05-scale-rate)) 1fr;
  grid-template-areas: "detail-logo detail-text";
  padding: calc(24px * var(--t05-scale-rate)) 0
    calc(24px * var(--t05-scale-rate)) calc(80px * var(--t05-scale-rate));
}
.template05-body .t05-header-sec .t05-detail.ar {
  padding: calc(24px * var(--t05-scale-rate)) calc(80px * var(--t05-scale-rate))
    calc(24px * var(--t05-scale-rate)) 0;
}
.template05-body .t05-header-sec .t05-detail-logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: detail-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template05-body .t05-header-sec .t05-detail-logo img {
  width: calc(70px * var(--t05-scale-rate));
  height: calc(58px * var(--t05-scale-rate));
}
.template05-body .t05-header-sec .t05-detail-text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: detail-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template05-body .t05-header-sec .t05-detail-text p {
  font-size: calc(16px * var(--t05-p-scale-rate));
}

/* header -> location */
.template05-body .t05-header-sec .t05-location {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-area: location;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.template05-body .t05-header-sec .t05-location .t05-loc-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.template05-body .t05-header-sec .t05-location .t05-loc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100px * var(--t05-scale-rate));
  grid-template-columns: calc(100px * var(--t05-scale-rate));
  grid-template-areas: "loc-icon loc-text";
  margin-left: 0;
  margin-right: calc(75px * var(--t05-scale-rate));
  z-index: 12;
}
.template05-body .t05-header-sec .t05-location .t05-loc.ar {
  margin-right: 0;
  margin-left: calc(75px * var(--t05-scale-rate));
}
.template05-body .t05-header-sec .t05-loc .t05-loc-icon {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: loc-icon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template05-body .t05-header-sec .t05-loc .t05-loc-icon img {
  width: calc(64px * var(--t05-scale-rate));
  height: calc(64px * var(--t05-scale-rate));
}
.template05-body .t05-header-sec .t05-loc .t05-loc-icon img.flag {
  width: calc(90px * var(--t05-scale-rate));
  height: calc(66px * var(--t05-scale-rate));
}
.template05-body .t05-header-sec .t05-loc .t05-loc-text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: loc-text;
}
.template05-body .t05-header-sec .t05-loc .t05-loc-text p {
  font-size: calc(13px * var(--t05-p-scale-rate));
}
.template05-body .t05-header-sec .t05-location img.t05-world {
  width: calc(624px * var(--t05-scale-rate));
  height: calc(324px * var(--t05-scale-rate));
  position: absolute;
  top: calc(300px * var(--t05-scale-rate));
  right: calc(245px * var(--t05-scale-rate));
}
.template05-body .t05-header-sec .t05-location img.t05-world.ar {
  right: calc(1680px * var(--t05-scale-rate));
}
/* #endregion */

/* #region - Intro Section */
.template05-body .t05-objective {
  padding-right: 0;
  padding-left: calc(310px * var(--t05-scale-rate));
  margin-bottom: calc(44px * var(--t05-scale-rate));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(200px * var(--t05-scale-rate)) 1fr;
  grid-template-columns: calc(200px * var(--t05-scale-rate)) 1fr;
  grid-template-areas: "obj-logo obj-text";
}
.template05-body .t05-objective.ar {
  padding-left: 0;
  padding-right: calc(310px * var(--t05-scale-rate));
}
.template05-body .t05-objective .t05-obj-logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: obj-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template05-body .t05-objective .t05-obj-logo img {
  width: calc(184px * var(--t05-scale-rate));
  height: calc(154px * var(--t05-scale-rate));
}
.template05-body .t05-objective .t05-obj-logo.ar img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.template05-body .t05-objective .t05-obj-text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: obj-text;
  padding-right: 0;
  padding-left: calc(20px * var(--t05-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}
.template05-body .t05-objective .t05-obj-text.ar {
  padding-left: 0;
  padding-right: calc(20px * var(--t05-scale-rate));
  text-align: right;
}
.template05-body .t05-objective .t05-obj-text p {
  font-size: calc(13px * var(--t05-p-scale-rate));
}
/* #endregion */

/* #region General styles for all sections */
.template05-body .t05-sec {
  width: 100%;
  padding-right: 0;
  padding-left: calc(100px * var(--t05-scale-rate));
  margin-bottom: calc(20px * var(--t05-scale-rate));
  position: relative;
}
.template05-body .t05-sec.ar {
  padding-left: 0;
  padding-right: calc(100px * var(--t05-scale-rate));
}
.template05-body .t05-sec .t05-sec-title {
  background-color: var(--t05-sec-title-bg-color);
  width: calc(600px * var(--t05-scale-rate));
  height: calc(104px * var(--t05-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 0;
  padding-left: calc(80px * var(--t05-scale-rate));
}
.template05-body .t05-sec .t05-sec-title.ar {
  padding-left: 0;
  padding-right: calc(80px * var(--t05-scale-rate));
}
.template05-body .t05-sec .t05-sec-title p {
  font-family: "beIN";
  color: var(--t05-sec-title-color);
  font-size: calc(19px * var(--t05-p-scale-rate));
}
.template05-body .t05-sec .t05-sec-logo {
  border: calc(8.333px * var(--t05-scale-rate)) solid #fff;
  background-color: var(--t05-sec-logo-bg-color);
  border-radius: 50%;
  width: calc(130px * var(--t05-scale-rate));
  height: calc(130px * var(--t05-scale-rate));
  position: absolute;
  top: -2px;
  right: none;
  left: calc(20px * var(--t05-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template05-body .t05-sec .t05-sec-logo.ar {
  left: none;
  right: calc(20px * var(--t05-scale-rate));
}
.template05-body .t05-circle {
  background-color: var(--t05-circle);
  width: calc(24px * var(--t05-scale-rate));
  height: calc(24px * var(--t05-scale-rate));
  border-radius: 50%;
}
/* #endregion */

/* Education and Work Sections */
/* #region - General styles for main sections */
.template05-body .t05-sec .t05-sec-body {
  background-color: var(--t05-sec-bg-color);
  width: 100%;
  padding: calc(61px * var(--t05-scale-rate)) calc(63px * var(--t05-scale-rate))
    calc(36px * var(--t05-scale-rate)) calc(76px * var(--t05-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
/* .template05-body .t05-sec .t05-sec-body p{
  font-size: calc(13px * var(--t05-p-scale-rate));
} */
.template05-body .t05-sec .t05-sec-body.ar {
  padding: calc(61px * var(--t05-scale-rate)) calc(76px * var(--t05-scale-rate))
    calc(36px * var(--t05-scale-rate)) calc(63px * var(--t05-scale-rate));
  text-align: right;
}
.template05-body .t05-sec .t05-sec-body .t05-edu,
.template05-body .t05-sec .t05-sec-body .t05-work {
  margin-left: 0;
  margin-right: calc(120px * var(--t05-scale-rate));
  margin-bottom: calc(30px * var(--t05-scale-rate));
  width: calc(550px * var(--t05-scale-rate));
  min-height: calc(285px * var(--t05-scale-rate));
}
.template05-body .t05-sec .t05-sec-body .t05-edu.ar,
.template05-body .t05-sec .t05-sec-body .t05-work.ar {
  margin-right: 0;
  margin-left: calc(120px * var(--t05-scale-rate));
}
.template05-body .t05-sec .t05-sec-body .t05-edu-date,
.template05-body .t05-sec .t05-sec-body .t05-work-date {
  background-color: var(--t05-sec-title-bg-color);
  color: var(--t05-sec-bg-color);
  width: 120%;
  height: calc(45px * var(--t05-scale-rate));
  -webkit-transform: translateX(-6%);
  -ms-transform: translateX(-6%);
  transform: translateX(-6%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(13px * var(--t05-p-scale-rate));
  position: relative;
}
.template05-body .t05-sec .t05-sec-body .t05-edu-date.ar,
.template05-body .t05-sec .t05-sec-body .t05-work-date.ar {
  -webkit-transform: translateX(6%);
  -ms-transform: translateX(6%);
  transform: translateX(6%);
}
.template05-body .t05-sec .t05-sec-body .t05-edu-date .t05-circle,
.template05-body .t05-sec .t05-sec-body .t05-work-date .t05-circle {
  background-color: var(--t05-circle);
  width: calc(45px * var(--t05-scale-rate));
  height: calc(45px * var(--t05-scale-rate));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: none;
  left: 3.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.template05-body .t05-sec .t05-sec-body .t05-edu-date .t05-circle.ar,
.template05-body .t05-sec .t05-sec-body .t05-work-date .t05-circle.ar {
  left: none;
  right: 3.5%;
}
.template05-body .t05-sec .t05-sec-body .t05-edu-box,
.template05-body .t05-sec .t05-sec-body .t05-work-box {
  padding: calc(18px * var(--t05-scale-rate)) 0
    calc(16px * var(--t05-scale-rate)) 2px;
  height: 100%;
  border-top: 1px solid #000;
  border-right: none;
  border-left: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
}
.template05-body .t05-sec .t05-sec-body .t05-edu-box.ar,
.template05-body .t05-sec .t05-sec-body .t05-work-box.ar {
  padding: calc(18px * var(--t05-scale-rate)) 2px
    calc(16px * var(--t05-scale-rate)) 0;
  border-left: none;
  border-right: 1px solid #000;
}
.template05-body .t05-sec .t05-sec-body .t05-edu-box .t05-edu-title,
.template05-body .t05-sec .t05-sec-body .t05-work-box .t05-work-title {
  width: 100%;
  padding-right: 0;
  padding-left: calc(30px * var(--t05-scale-rate));
  position: absolute;
  top: 0;
  right: none;
  left: 0;
  -webkit-transform: translate(10%, -57%);
  -ms-transform: translate(10%, -57%);
  transform: translate(10%, -57%);
}
.template05-body .t05-sec .t05-sec-body .t05-edu-box .t05-edu-title p,
.template05-body .t05-sec .t05-sec-body .t05-work-box .t05-work-title p {
  background-color: var(--t05-sec-bg-color);
  color: var(--t05-sec-main-content);
}
.template05-body .t05-sec .t05-sec-body .t05-edu-box .t05-edu-title.ar,
.template05-body .t05-sec .t05-sec-body .t05-work-box .t05-work-title.ar {
  padding-left: 0;
  padding-right: calc(30px * var(--t05-scale-rate));
  left: none;
  right: 0;
  -webkit-transform: translate(-10%, -57%);
  -ms-transform: translate(-10%, -57%);
  transform: translate(-10%, -57%);
}
.template05-body .t05-sec .t05-edu-box .t05-edu-content,
.template05-body .t05-sec .t05-work-box .t05-work-content {
  font-size: calc(13px * var(--t05-p-scale-rate));
  line-height: calc(19px * 1.2 * var(--t05-p-scale-rate));
  -webkit-transform: translate(10%);
  -ms-transform: translate(10%);
  transform: translate(10%);
}
.template05-body .t05-sec .t05-edu-box .t05-edu-content.ar,
.template05-body .t05-sec .t05-work-box .t05-work-content.ar {
  -webkit-transform: translate(-10%);
  -ms-transform: translate(-10%);
  transform: translate(-10%);
}
.template05-body .t05-sec .t05-edu-box .t05-edu-content span.t05-content-name,
.template05-body .t05-sec .t05-work-box .t05-work-content span.t05-project-name,
.template05-body .t05-sec .t05-work-box .t05-work-content span.t05-job-name {
  color: var(--t05-sec-logo-bg-color);
}
/* education-sec -> logo */
.template05-body .t05-sec .t05-sec-logo img {
  width: calc(100px * var(--t05-scale-rate));
  height: calc(69px * var(--t05-scale-rate));
}

/* work-sec -> logo */
.template05-body .t05-work-sec .t05-sec-logo img {
  width: calc(81px * var(--t05-scale-rate));
  height: calc(82px * var(--t05-scale-rate));
}
/* #endregion */

/* #region - Courses Section */
.template05-body .t05-courses-sec .t05-sec-body {
  height: calc(570px * var(--t05-scale-rate));
  padding-top: calc(36px * var(--t05-scale-rate));
}
.template05-body .t05-courses-sec .t05-sec-body .t05-sec-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.template05-body .t05-courses-sec .t05-sec-body .t05-course {
  border-right: none;
  border-left: calc(7px * var(--t05-scale-rate)) solid
    var(--t05-sec-logo-bg-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(40px * var(--t05-scale-rate)) 1fr;
  grid-template-columns: calc(40px * var(--t05-scale-rate)) 1fr;
  grid-template-areas: "circle course-name";
  -webkit-box-flex: 0;
  -ms-flex: 0 1 10px;
  flex: 0 1 10px;
}
.template05-body .t05-courses-sec .t05-sec-body .t05-course.ar {
  border-left: none;
  border-right: calc(7px * var(--t05-scale-rate)) solid
    var(--t05-sec-logo-bg-color);
}
.template05-body .t05-courses-sec .t05-sec-body .t05-course:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.template05-body
  .t05-courses-sec
  .t05-sec-body
  .t05-course:last-child
  .t05-circle {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.template05-body .t05-courses-sec .t05-sec-body .t05-course .t05-course-circle {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateX(-37%);
  -ms-transform: translateX(-37%);
  transform: translateX(-37%);
}
.template05-body
  .t05-courses-sec
  .t05-sec-body
  .t05-course
  .t05-course-circle.ar {
  -webkit-transform: translateX(37%);
  -ms-transform: translateX(37%);
  transform: translateX(37%);
}
.template05-body .t05-courses-sec .t05-sec-body .t05-course .t05-course-name {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: course-name;
  font-size: calc(13px * var(--t05-p-scale-rate));
  line-height: calc(12px * 2 * var(--t05-p-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* #endregion */

/* #region - Skills Section */
.template05-body .t05-skills-sec .t05-sec-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.template05-body .t05-skills-sec .t05-skill {
  width: calc(200px * var(--t05-scale-rate));
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: calc(180px * var(--t05-scale-rate)) 1fr;
  grid-template-rows: calc(180px * var(--t05-scale-rate)) 1fr;
  grid-template-areas: "skill-logo" "skill-name";
}
/* skill -> logo */
.template05-body .t05-skills-sec .t05-skill .t05-skill-logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: skill-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template05-body .t05-skills-sec .t05-skill .t05-skill-logo-bg {
  width: calc(180px * var(--t05-scale-rate));
  height: calc(180px * var(--t05-scale-rate));
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid var(--t05-skill-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template05-body .t05-skills-sec .t05-skill .t05-skill-logo-bg img {
  width: calc(95px * var(--t05-scale-rate));
  height: calc(100px * var(--t05-scale-rate));
}
/* skill -> name */
.template05-body .t05-skills-sec .t05-skill .t05-skill-name {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: skill-name;
  text-align: center;
  padding: calc(15px * var(--t05-scale-rate));
}
.template05-body .t05-skills-sec .t05-skill .t05-skill-name p {
  font-size: calc(11px * var(--t05-p-scale-rate));
}
/* #endregion */

/* Other Sections */
/* #region - General styles for this section */
.template05-body .t05-other-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: calc(295px * var(--t05-scale-rate));
}
.template05-body .t05-other-sec .t05-part-sec,
.template05-body .t05-other-sec .t05-lang-sec,
.template05-body .t05-other-sec .t05-ref-sec {
  width: calc(750px * var(--t05-scale-rate));
}
.template05-body .t05-other-sec .t05-part-sec .t05-sec-title,
.template05-body .t05-other-sec .t05-lang-sec .t05-sec-title,
.template05-body .t05-other-sec .t05-ref-sec .t05-sec-title {
  width: 100%;
}
.template05-body .t05-other-sec .t05-part-sec .t05-sec-body,
.template05-body .t05-other-sec .t05-lang-sec .t05-sec-body,
.template05-body .t05-other-sec .t05-ref-sec .t05-sec-body {
  padding: calc(12px * var(--t05-scale-rate)) calc(31px * var(--t05-scale-rate));
}
/* #endregion */

/* #region - Participation */
.template05-body .t05-other-sec .t05-part-sec .t05-sec-logo img {
  width: calc(71px * var(--t05-scale-rate));
  height: calc(88px * var(--t05-scale-rate));
}
.template05-body .t05-other-sec .t05-part-sec .t05-sec-body .t05-sec-content {
  border-right: none;
  border-left: calc(7px * var(--t05-scale-rate)) solid
    var(--t05-sec-logo-bg-color);
}
.template05-body
  .t05-other-sec
  .t05-part-sec
  .t05-sec-body
  .t05-sec-content.ar {
  border-left: none;
  border-right: calc(7px * var(--t05-scale-rate)) solid
    var(--t05-sec-logo-bg-color);
}
.template05-body .t05-other-sec .t05-part-sec .t05-sec-body .t05-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t05-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t05-scale-rate)) 1fr;
  grid-template-areas: "circle part-text";
  -webkit-transform: translate(-5%, -20%);
  -ms-transform: translate(-5%, -20%);
  transform: translate(-5%, -20%);
  line-height: calc(12px * 1.5 * var(--t05-p-scale-rate));
}
.template05-body .t05-other-sec .t05-part-sec .t05-sec-body .t05-part.ar {
  -webkit-transform: translate(5%, -20%);
  -ms-transform: translate(5%, -20%);
  transform: translate(5%, -20%);
}
.template05-body
  .t05-other-sec
  .t05-part-sec
  .t05-sec-body
  .t05-part
  .t05-part-circle {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transform: translateX(15%);
}
.template05-body
  .t05-other-sec
  .t05-part-sec
  .t05-sec-body
  .t05-part
  .t05-part-circle.ar {
  transform: translateX(0%);
}
.template05-body
  .t05-other-sec
  .t05-part-sec
  .t05-sec-body
  .t05-part
  .t05-part-text {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 2;
  -ms-grid-column: 2;
  grid-area: part-text;
  font-size: calc(12px * var(--t05-p-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* #endregion */

/* #region - Languages */
.template05-body .t05-other-sec .t05-lang-sec .t05-sec-body {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.template05-body .t05-other-sec .t05-lang-sec .t05-sec-logo img {
  width: calc(79px * var(--t05-scale-rate));
  height: calc(75px * var(--t05-scale-rate));
}
.template05-body .t05-other-sec .t05-lang {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "lang-name lang-rate";
  font-size: calc(13px * var(--t05-p-scale-rate));
  margin-bottom: calc(30px * var(--t05-scale-rate));
}
.template05-body .t05-other-sec .t05-lang .t05-lang-name,
.template05-body .t05-other-sec .t05-lang .t05-lang-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template05-body .t05-other-sec .t05-lang .t05-lang-name {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: lang-name;
}
.template05-body .t05-other-sec .t05-lang .t05-lang-rate {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 2;
  -ms-grid-column: 2;
  grid-area: lang-rate;
}
.template05-body .t05-other-sec .t05-lang .t05-lang-rate .t05-lang-deg {
  background-color: var(--t05-lang-full-deg-color);
  width: calc(22px * var(--t05-scale-rate));
  height: calc(54px * var(--t05-scale-rate));
  border-radius: 10px;
  margin: 0 0.5px;
}
.template05-body
  .t05-other-sec
  .t05-lang
  .t05-lang-rate
  .t05-lang-deg.t05-empty {
  background-color: var(--t05-lang-empty-deg-color);
}
/* #endregion */

/* #region - References */
.template05-body .t05-other-sec .t05-ref-sec .t05-sec-logo img {
  width: calc(84px * var(--t05-scale-rate));
  height: calc(78px * var(--t05-scale-rate));
}
.template05-body .t05-other-sec .t05-ref-sec .t05-sec-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template05-body .t05-other-sec .t05-ref-sec .t05-sec-body .t05-ref {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t05-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t05-scale-rate)) 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "ref-circle ref-name"
    "ref-logo ref-num";
  margin-bottom: calc(30px * var(--t05-scale-rate));
  margin-right: calc(10px * var(--t05-scale-rate));
  line-height: calc(12px * 1.6 * var(--t05-p-scale-rate));
}
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-circle {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: ref-circle;
}
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-logo {
  grid-row: 2;
  -ms-grid-row: 2;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: ref-logo;
}
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-logo img {
  width: calc(31px * var(--t05-scale-rate));
  height: calc(31px * var(--t05-scale-rate));
}
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-name {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 2;
  -ms-grid-column: 2;
  grid-area: ref-name;
}
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-num {
  grid-row: 2;
  -ms-grid-row: 2;
  grid-column: 2;
  -ms-grid-column: 2;
  grid-area: ref-num;
}
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-name p,
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-num p {
  font-size: calc(13px * var(--t05-p-scale-rate));
  margin-bottom: calc(2px * var(--t05-scale-rate));
}

.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-circle,
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-logo,
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-name,
.template05-body .t05-other-sec .t05-ref-sec .t05-ref .t05-ref-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* #endregion */
