@font-face {
  font-family: "beIN Normal";
  src: url("../../assets/fonts/beINNormal.eot");
  src: url("../../assets/fonts/beINNormal.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINNormal.woff2") format("woff2"),
    url("../../assets/fonts/beINNormal.woff") format("woff"),
    url("../../assets/fonts/beINNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "beIN";
  src: url("../../assets/fonts/beINBlack.eot");
  src: url("../../assets/fonts/beINBlack.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINBlack.woff2") format("woff2"),
    url("../../assets/fonts/beINBlack.woff") format("woff"),
    url("../../assets/fonts/beINBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Ara Assaf";
  src: url("../../assets/fonts/AraAssaf-Regular.eot");
  src: url("../../assets/fonts/AraAssaf-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/AraAssaf-Regular.woff2") format("woff2"),
    url("../../assets/fonts/AraAssaf-Regular.woff") format("woff"),
    url("../../assets/fonts/AraAssaf-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --t11-sec-logo-bg-color: #a7a9ac;
  --t11-bg-color: #d0d0d0;
  --t11-square-color: #6d6e71;
  --t11-name-color: #3b3838;
  --t11-info-text-color: #000;
  --t11-sec-title-color: #fff;
  --t11-sec-title-bg-color: #878787;

  --t11-scale-rate: 0.3;
  --t11-p-scale-rate: 0.9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Template Body */
.template11-body {
  background-color: var(--t11-bg-color);
  padding: calc(80px * var(--t11-scale-rate)) calc(30px * var(--t11-scale-rate));
  width: calc(2480px * var(--t11-scale-rate));
  height: calc(3508px * var(--t11-scale-rate));
  position: relative;
  margin: 0 auto;
}

/* #region - General styles for all sections */
.template11-body .t11-row-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: calc(30px * var(--t11-scale-rate));
}
.template11-body .t11-sec {
  width: 48%;
  padding-right: 0;
  padding-left: calc(100px * var(--t11-scale-rate));
  position: relative;
}
.template11-body .t11-sec.ar {
  direction: rtl;
  padding-left: 0;
  padding-right: calc(100px * var(--t11-scale-rate));
}
.template11-body .t11-sec .t11-sec-title {
  background-color: var(--t11-sec-title-bg-color);
  width: calc(630px * var(--t11-scale-rate));
  height: calc(100px * var(--t11-scale-rate));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr calc(40px * var(--t11-scale-rate));
  grid-template-columns: 1fr calc(40px * var(--t11-scale-rate));
  grid-template-areas: "title arrow";
  border-top-left-radius: unset;
  border-top-right-radius: 12px;
  padding-right: calc(40px * var(--t11-scale-rate));
  padding-left: calc(80px * var(--t11-scale-rate));
}
.template11-body .t11-sec .t11-sec-title.ar {
  border-top-right-radius: unset;
  border-top-left-radius: 12px;
  padding-left: calc(40px * var(--t11-scale-rate));
  padding-right: calc(80px * var(--t11-scale-rate));
}
.template11-body .t11-sec .t11-sec-title .t11-title {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-sec .t11-sec-title p {
  color: var(--t11-sec-title-color);
  font-size: calc(19px * var(--t11-p-scale-rate));
  text-transform: uppercase;
}
.template11-body .t11-sec .t11-sec-arrow {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: arrow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-sec .t11-sec-arrow img {
  width: calc(40px * var(--t11-scale-rate));
  height: calc(40px * var(--t11-scale-rate));
}

.template11-body .t11-sec .t11-sec-logo {
  border: calc(4px * var(--t11-scale-rate)) solid #fff;
  background-color: var(--t11-sec-logo-bg-color);
  border-radius: 50%;
  width: calc(135px * var(--t11-scale-rate));
  height: calc(135px * var(--t11-scale-rate));
  position: absolute;
  top: -5px;
  right: none;
  left: calc(20px * var(--t11-scale-rate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-sec .t11-sec-logo img {
  width: calc(80px * var(--t11-scale-rate));
  height: calc(80px * var(--t11-scale-rate));
}
.template11-body .t11-sec.ar .t11-sec-logo {
  left: none;
  right: calc(20px * var(--t11-scale-rate));
}
.template11-body .t11-sec .t11-sec-body {
  width: 100%;
  padding: calc(15px * var(--t11-scale-rate)) calc(30px * var(--t11-scale-rate))
    0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: calc(13px * var(--t11-p-scale-rate));
  text-align: left;
}
.template11-body .t11-sec .t11-sec-body.ar {
  text-align: right;
}
.template11-body .t11-sec .t11-sec-body .t11-sec-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-square {
  background-color: var(--t11-square-color);
  width: calc(24px * var(--t11-scale-rate));
  height: calc(24px * var(--t11-scale-rate));
}

.template11-body p {
  margin-bottom: 0;
  font-family: "beIN Normal";
  line-height: 1.5;
}
.template11-body .bold,
.template11-body .bold p {
  font-family: "beIN";
}
.template01-body p.ar {
  word-spacing: 2px;
}
/* #endregion */

/* #region - Header Section */
.template11-body .t11-header-sec {
  position: absolute;
  top: 0;
  width: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.template11-body .t11-name-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: calc(44px * var(--t11-scale-rate));
  margin-bottom: 0;
  font-size: calc(24px * var(--t11-p-scale-rate));
  font-family: "Ara Assaf";
  line-height: 1;
}
.template11-body .t11-name-sec h2 {
  color: var(--t11-name-color);
}

.template11-body .t11-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.template11-body .t11-contact-info .t11-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(120px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(120px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "info-logo info-text";
  padding-bottom: calc(25px * var(--t11-scale-rate));
}
.template11-body .t11-contact-info .t11-info-logo {
  grid-area: info-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-contact-info .t11-info-logo-4 img {
  width: calc(74px * var(--t11-scale-rate));
  height: calc(58px * var(--t11-scale-rate));
}
.template11-body .t11-contact-info .t11-info-logo-5 img {
  width: calc(48px * var(--t11-scale-rate));
  height: calc(74px * var(--t11-scale-rate));
}
.template11-body .t11-contact-info .t11-info-text {
  grid-area: info-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-contact-info .t11-info-text p {
  color: var(--t11-info-text-color);
  font-size: calc(14px * var(--t11-p-scale-rate));
}
/* #endregion */

/* #region - Info Section */
.template11-body .t11-info-sec {
  padding: 0 calc(50px * var(--t11-scale-rate));
}
.template11-body .t11-info-sec.ar {
  direction: rtl;
}
.template11-body .t11-info-sec .t11-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(120px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(120px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "info-logo info-text";
  padding-bottom: calc(60px * var(--t11-scale-rate));
}
.template11-body .t11-info-sec .t11-info-logo {
  grid-area: info-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-info-sec .t11-info-logo-1 img {
  width: calc(74px * var(--t11-scale-rate));
  height: calc(74px * var(--t11-scale-rate));
}
.template11-body .t11-info-sec .t11-info-logo-2 img {
  width: calc(74px * var(--t11-scale-rate));
  height: calc(82px * var(--t11-scale-rate));
}
.template11-body .t11-info-sec .t11-info-logo-3 img {
  width: calc(78px * var(--t11-scale-rate));
  height: calc(52px * var(--t11-scale-rate));
}
.template11-body .t11-info-sec .t11-info-text {
  grid-area: info-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-info-sec .t11-info-text p {
  color: var(--t11-info-text-color);
  font-size: calc(14px * var(--t11-p-scale-rate));
}
/* #endregion */

/* #region - Intro Section */
.template11-body .t11-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
.template11-body .t11-intro .t11-intro-sec {
  padding: calc(15px * var(--t11-scale-rate)) calc(10px * var(--t11-scale-rate));
  text-align: justify;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-intro .t11-intro-sec .t11-intro-logo {
  grid-area: intro-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: calc(15px * var(--t11-p-scale-rate));
  /* font-weight: bold; */
  width: calc(350px * var(--t11-scale-rate));
}
.template11-body .t11-intro .t11-intro-sec .t11-intro-logo img {
  width: calc(138px * var(--t11-scale-rate));
  height: calc(147px * var(--t11-scale-rate));
}
.template11-body .t11-intro .t11-intro-sec .t11-intro-text {
  grid-area: intro-text;
  font-size: calc(14px * var(--t11-p-scale-rate));
}
.template11-body .t11-intro .t11-vl {
  width: calc(4px * var(--t11-scale-rate));
  height: 80%;
  background-color: var(--t11-square-color);
  border-radius: 18%;
  margin: auto calc(30px * var(--t11-scale-rate));
}
.template11-body .t11-intro .t11-vl-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 75%;
  width: calc(4px * var(--t11-scale-rate));
  background-color: var(--t11-square-color);
}
/* #endregion */

/* #region - Education Section */
.template11-body .t11-edu-sec .sec-logo img {
  width: calc(123px * var(--t11-scale-rate));
  height: calc(73px * var(--t11-scale-rate));
}
.template11-body .t11-edu-sec .t11-edu {
  margin-bottom: calc(50px * var(--t11-scale-rate));
  font-size: calc(16px * var(--t11-p-scale-rate));
  font-family: "Century Gothic";
  line-height: 1.5;
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-company {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "arrow co-name";
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-company .t11-arrow {
  grid-area: arrow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-company .t11-arrow img {
  width: calc(43px * var(--t11-scale-rate));
  height: calc(43px * var(--t11-scale-rate));
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-company .t11-arrow.ar img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-company .t11-co-name {
  grid-area: co-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-pos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "pos-square pos-name";
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-pos .t11-pos-square {
  grid-area: pos-square;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-pos .t11-pos-name {
  grid-area: pos-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-date {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "date-square date-content";
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-date .t11-date-square {
  grid-area: date-square;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-date .t11-date-content {
  grid-area: date-content;
}
.template11-body .t11-edu-sec .t11-edu .t11-edu-company .t11-co-name,
.template11-body .t11-edu-sec .t11-edu .t11-edu-pos .t11-pos-name,
.template11-body .t11-edu-sec .t11-edu .t11-edu-date .t11-date-content {
  padding-left: calc(20px * var(--t11-scale-rate));
}
.template11-body .t11-edu-sec.ar .t11-edu .t11-edu-company .t11-co-name,
.template11-body .t11-edu-sec.ar .t11-edu .t11-edu-pos .t11-pos-name,
.template11-body .t11-edu-sec.ar .t11-edu .t11-edu-date .t11-date-content {
  padding-right: calc(20px * var(--t11-scale-rate));
}
/* #endregion */

/* #region - Work Section */
.template11-body .t11-work-sec .sec-logo img {
  width: calc(83px * var(--t11-scale-rate));
  height: calc(73px * var(--t11-scale-rate));
}
.template11-body .t11-work-sec .t11-work {
  margin-bottom: calc(50px * var(--t11-scale-rate));
  font-size: calc(16px * var(--t11-p-scale-rate));
  font-family: "Century Gothic";
  line-height: 1.5;
}
.template11-body .t11-work-sec .t11-work .t11-work-company {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "arrow co-name";
}
.template11-body .t11-work-sec .t11-work .t11-work-company .t11-arrow {
  grid-area: arrow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-work-sec .t11-work .t11-work-company .t11-arrow img {
  width: calc(43px * var(--t11-scale-rate));
  height: calc(43px * var(--t11-scale-rate));
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.template11-body .t11-work-sec .t11-work .t11-work-company .t11-arrow.ar img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.template11-body .t11-work-sec .t11-work .t11-work-company .t11-co-name {
  grid-area: co-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-work-sec .t11-work .t11-work-pos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "pos-square pos-name";
}
.template11-body .t11-work-sec .t11-work .t11-work-pos .t11-pos-square {
  grid-area: pos-square;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-work-sec .t11-work .t11-work-pos .t11-pos-name {
  grid-area: pos-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
}
.template11-body .t11-work-sec .t11-work .t11-work-date {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(50px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "date-square date-content";
}
.template11-body .t11-work-sec .t11-work .t11-work-date .t11-date-square {
  grid-area: date-square;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-work-sec .t11-work .t11-work-date .t11-date-content {
  grid-area: date-content;
}
.template11-body .t11-work-sec .t11-work .t11-work-company .t11-co-name,
.template11-body .t11-work-sec .t11-work .t11-work-pos .t11-pos-name,
.template11-body .t11-work-sec .t11-work .t11-work-date .t11-date-content {
  padding-left: calc(20px * var(--t11-scale-rate));
}
.template11-body .t11-work-sec.ar .t11-work .t11-work-company .t11-co-name,
.template11-body .t11-work-sec.ar .t11-work .t11-work-pos .t11-pos-name,
.template11-body .t11-work-sec.ar .t11-work .t11-work-date .t11-date-content {
  padding-right: calc(20px * var(--t11-scale-rate));
}
/* #endregion */

/* #region - Courses Section */
.template11-body .t11-course-sec .t11-sec-logo img {
  width: calc(81px * var(--t11-scale-rate));
  height: calc(97px * var(--t11-scale-rate));
}
.template11-body .t11-course-sec .t11-course {
  margin-bottom: calc(20px * var(--t11-scale-rate));
  font-size: calc(14px * var(--t11-p-scale-rate));
  font-family: "beIN Normal";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(60px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(60px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "course-square course-name";
}
.template11-body .t11-course-sec .t11-course .t11-course-square {
  grid-area: course-square;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(13px * var(--t11-scale-rate));
}
.template11-body .t11-course-sec .t11-course .t11-course-name {
  grid-area: course-name;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* #endregion */

/* #region - Achievements Section */
.template11-body .t11-achiev-sec .t11-sec-logo img {
  width: calc(57px * var(--t11-scale-rate));
  height: calc(91px * var(--t11-scale-rate));
}
.template11-body .t11-achiev-sec .t11-achiev {
  margin-bottom: calc(20px * var(--t11-scale-rate));
  font-size: calc(14px * var(--t11-p-scale-rate));
  font-family: "beIN Normal";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(60px * var(--t11-scale-rate)) 1fr;
  grid-template-columns: calc(60px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "achiev-square achiev-name";
}
.template11-body .t11-achiev-sec .t11-achiev .t11-achiev-square {
  grid-area: achiev-square;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(13px * var(--t11-scale-rate));
}
.template11-body .t11-achiev-sec .t11-achiev .t11-achiev-name {
  grid-area: achiev-name;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* #endregion */

/* #region - Languages Section */
.template11-body .t11-lang-sec .t11-sec-logo img {
  width: calc(88px * var(--t11-scale-rate));
  height: calc(89px * var(--t11-scale-rate));
}
.template11-body .t11-lang-sec .t11-sec-body {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.template11-body .t11-lang-sec .t11-sec-body .t11-lang {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "lang-name lang-rate";
  margin-bottom: calc(30px * var(--t11-scale-rate));
}
.template11-body .t11-lang-sec .t11-sec-body .t11-lang .t11-lang-name {
  grid-area: lang-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(14px * var(--t11-p-scale-rate));
}
.template11-body .t11-lang-sec .t11-sec-body .t11-lang .t11-lang-rate {
  grid-area: lang-rate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-lang-sec .t11-sec-body .t11-lang .t11-lang-rate img {
  width: calc(54px * var(--t11-scale-rate));
  height: calc(50px * var(--t11-scale-rate));
}
/* #endregion */

/* #region - Skills Section */
.template11-body .t11-skill-sec {
  width: 100%;
}
.template11-body .t11-skill-sec.ar {
  width: 0;
}
.template11-body .t11-skill-sec .t11-sec-logo img {
  width: calc(98px * var(--t11-scale-rate));
  height: calc(98px * var(--t11-scale-rate));
}
.template11-body .t11-skill-sec .t11-sec-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-skill-sec .t11-skill {
  width: calc(230px * var(--t11-scale-rate));
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: calc(190px * var(--t11-scale-rate)) 1fr;
  grid-template-rows: calc(190px * var(--t11-scale-rate)) 1fr;
  grid-template-areas: "skill-logo" "skill-name";
}
/* skill -> logo */
.template11-body .t11-skill-sec .t11-skill .t11-skill-logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: skill-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.template11-body .t11-skill-sec .t11-skill .t11-skill-logo-bg {
  width: calc(150px * var(--t11-scale-rate));
  height: calc(150px * var(--t11-scale-rate));
  border-radius: 50%;
  background-color: var(--t11-sec-logo-bg-color);
  border: 1px solid #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.template11-body .t11-skill-sec .t11-skill .t11-skill-logo-bg img {
  width: calc(90px * var(--t11-scale-rate));
  height: calc(90px * var(--t11-scale-rate));
}
/* skill -> name */
.template11-body .t11-skill-sec .t11-skill .t11-skill-name {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: skill-name;
  text-align: center;
}
.template11-body .t11-skill-sec .t11-skill .t11-skill-name p {
  font-size: calc(14px * var(--t11-p-scale-rate));
  line-height: 1.2;
}
/* #endregion */
